.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  .logo {
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    align-self: center;
    img {
      width: 100%;
      display: block;
    }
  }
  .menu {
    max-width: 480px;
    display: flex;
    li {
      padding: 20px 40px;
      text-align: center;
      border: 1px solid black;
      list-style: none;
    }
  }

}

