.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 200px;
  .logo {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      display: block;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    a{
      font-size: 16px;
      letter-spacing: 1px;
      margin: 0 5px;
      padding: 20px 40px;
      border: 1px solid black;
      text-decoration: none;
    }
    .socials {
      padding: 20px 20px;
    }
    .search {
      padding: 10px 10px;
    }
  }
}
